@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  margin: 0;
  background-color: pink;
}

.header {
  font-family: "Roboto";
  background-color: azure;
  font-size: 50px;
  padding: 3%;
}

.searchDiv {
  padding: 3%;
  align-items: ce;
}

.moviedataContainer {
  font-family: "Roboto";
  background-color: bisque;
  margin: 1% 5%;
  padding: 2% 4%;
  border-radius: 10px;
}
