@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  margin: 0;
  background-color: pink;
}

.header {
  font-family: "Roboto";
  background-color: azure;
  font-size: 50px;
  padding: 3%;
}

.searchDiv {
  padding: 3%;
  align-items: ce;
}

.moviedataContainer {
  font-family: "Roboto";
  background-color: bisque;
  margin: 1% 5%;
  padding: 2% 4%;
  border-radius: 10px;
}

.movieTitle {
  font-size: 3rem;
}

.titleDiv {
  display: flex;
  justify-content: space-between;
}

.movieRating {
  margin-top: 50px;
}

.movieDatasubContainer {
  display: flex;
}

.column2 {
  padding: 0.1%;
  margin-left: 5%;
}

.textInput {
  font-family: "Roboto";
  padding: 0.5%;
  margin-right: 0.5%;
  border-radius: 10px;
  border-width: 1px;
}

.submitButton {
  font-family: "Roboto";
  padding: 0.5%;
  background-color: burlywood;
  border-radius: 10px;
  border-width: 1px;
}

.submitButton:hover {
  background-color: brown;
}
