@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  margin: 0;
  background-color: palevioletred;
}

.header {
  font-family: "Roboto";
  background-color: azure;
  font-size: 70px;
}
